<!DOCTYPE html>
<html>
    <head>
        <title>T.E. Systems</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/screen.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>      
        <nav>
            <button class="toggle-switch toggle-to-x toggle">
            <span>chiudi menu</span>
            </button>
            <ul class="menu">
                <li><a id="towhoare" href="#">chi siamo</a></li>
                <li><a id="toservice" href="#">servizi</a></li>
                <li><a id="tocontacts" href="#">contatti</a></li>
            </ul>
        </nav>
        <header class="table">
            <div class="table-cell">
                <div class="logo">
                    <object type="image/svg+xml" data="images/logo.svg">T.E.Systems</object>
                    <h1>Sys<span>te</span>ms</h1>
                </div>

                <h2 class="col-litle">Assistenza <strong>Informatica</strong> per il tuo <strong>Business</strong></h2>
            </div>
        </header>
        <div class="icon-scroll">
                    <a href="#" id="towhoare">
                        <object type="image/svg+xml" data="images/scroll.svg">Il tuo browser non supporta SVG</object>
                    </a>
                </div>
        <main>
        
        <section>
            <div class="col-litle whoare">
                <h3 id="chisiamo">Chi siamo</h3>
                <hr  class="icon-whoare" align="center">
                <div class="col-1">
                    <img src="images/whoare.png" alt="T.E.Systems, servizi per l'informatica, riparazione computer, assistenza tecnica informatica"> 
                </div>  
                <article class="col-2">
                    <p>
                        <strong>T.E.Systems</strong> é un azienda con esperienza decennale nel settore dell'informatica. Il nostro obbiettivo é quello di soddisfare le <strong>Vostre</strong> esigenze proponendovi i migliori servizi disponibili sul mercato.
                    </p>
                    <ul>
                        <li  class="icon-assistance">Assistenza Hardware e Software</li>
                        <li class="icon-sell">Vendita Computer e Periferiche</li>
                        <li class="icon-office">Macchine da Ufficio</li>
                        <li class="icon-toner">Vendita Toner Compatibili</li>
                        <li class="icon-smart">Configurazione Smartphone e Tablet</li>
                        <li class="icon-web">Realizzazione Siti Internet</li>
                        <li class="icon-data">Recupero Dati</li>
                        <li class="icon-graph">Servizi Grafici</li>
                        <li class="icon-tanslate">Servizi di Traduzione</li>
                    </ul>
                </article>
            </div>
        </section>
                <section>
                    <h3 id="servizi">Servizi</h3>
                    <hr class="icon-service">
                    <div class="service">
                        <div class="service-title">
                            <h4 class="icon-assistance">Hardware e Software</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    </div>
                    <div class="service">
                        <div class="service-title">
                            <h4 class="icon-sell">Computer e Periferiche</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        </p>
                    </div>
                    <div class="service">
                        <div class="service-title">
                            <h4 class="icon-office">Macchine da Ufficio</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        </p>
                    </div>
                    <div class="service">
                        <div class="service-title">
                            <h4 class="icon-toner">Toner Compatibili</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidenttoservice, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        </p>
                    </div>
                    <div class="service">
                        <div class="service-title">
                            <h4 class="icon-smart">Smartphone e Tablet</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidenttoservice, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        </p>
                    </div>
                    <div class="service">
                        <div class="service-title">
                            <h4 class="icon-web">Siti Internet</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidenttoservice, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        </p>
                    </div>
                    <div class="service">
                        <div class="service-title">
                            <h4 class="icon-data">Recupero Dati</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidenttoservice, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        </p>
                    </div>
                    <div class="service">
                        <div class="service-title">
                            <h4 class="icon-graph">Servizi Grafici</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 4remfugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidenttoservice, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        </p>
                    </div>
                </section>
                <div class="second_color">
                    <section>
                        <div class="col-litle">
                            <h3 id="contatti">Contattaci</h3>
                            <hr class="icon-contact">
                            <form action="">
                                
                                <div class="col-1">
                                    <label for=name>Nome</label>
                                    <input name=name type=text placeholder="Nome">
                                    <label for=email>e-Mail</label>
                                    <input name=email type=email placeholder="Indirizzo email">
                                    <label for=company>Azienda</label>
                                    <input name=company type=text placeholder="Azienda">
                                    <label for=phone>Telefono</label>
                                    <input name=phone type=tel placeholder="Telefono">
                                </div>
                                <div class="col-2">
                                    <label for=message>Messaggio</label>
                                    <textarea placeholder="Messaggio..."></textarea>
                                    <div id="captcha">
                                        <div class="g-recaptcha" data-sitekey="6LfxHQgTAAAAANDKCE41wG1n9PyyUzBh8C2HCTEO"></div>
                                    </div>
                                    <input type="submit" value="Invia">
                                </div>
                                
                            </form>
                        </div>
                    </section>
                </div>
                </main>
                <footer>
                    <div class="container">
                        <div class="spanfoot">
                            <img src="images/logo.png" alt="T.E. Systems">
                        </div>
                        <div class="spanfoot">
                            <p>Via Le Cassere, 1</p>
                            <p>37050 Oppeano (VR)</p>
                        </div>
                        <div class="spanfoot">
                            <p><strong>P.Iva: </strong>04102940238</p>
                            <p><strong>C.F.: </strong>PDVSFN84R12B107L</p>
                        </div>
                        <div class="spanfoot">
                            <p class="icon-tel">348 236 235 58</p>
                            <a class="icon-mail" href="mailto:stefano@tesystems.it">stefano@tesystems.it</a>    
                        </div>
                    </div>
                </footer>
                <%= livereload_js %>
                <script src="js/menu.js"></script>
                <script>
                $(document).ready(function(){
                    $("button").click(function(){
                        $(".menu").toggle(500);
                    });
                });
                $(document).ready(function(){
                    $('.menu a').click(function(){
                        $(".menu").toggle(500),
                        $(".toggle-switch").removeClass("active")
                    });
                });
                </script>
                <script type="text/javascript">
                    $('#towhoare').click(function() {
                    $.scrollTo(document.getElementById('chisiamo'), 800);
                });
                    $('.icon-scroll').click(function() {
                    $.scrollTo(document.getElementById('chisiamo'), 800);
                });
                    $('#toservice').click(function() {
                    $.scrollTo(document.getElementById('servizi'), 800);
                });
                    $('#tocontacts').click(function() {
                    $.scrollTo(document.getElementById('contatti'), 800);
                });
                </script>
            </body>
        </html>