@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/_grids.sass */
html, body, header {
  height: 100%;
  width: 100%;
}

/* line 22, ../sass/_grids.sass */
img {
  width: 100%;
}

/* line 25, ../sass/_grids.sass */
header {
  display: table;
  margin: -51px 0 51px 0;
}

/* line 29, ../sass/_grids.sass */
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 320px) {
  /* line 33, ../sass/_grids.sass */
  section {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  /* line 12, ../../../fire.app/lib/ruby/compass_extensions/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  section:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 760px) {
  /* line 33, ../sass/_grids.sass */
  section {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../fire.app/lib/ruby/compass_extensions/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  section:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1440px) {
  /* line 33, ../sass/_grids.sass */
  section {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../fire.app/lib/ruby/compass_extensions/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  section:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 320px) {
  /* line 42, ../sass/_grids.sass */
  .container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  /* line 12, ../../../fire.app/lib/ruby/compass_extensions/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 760px) and (orientation: landscape) {
  /* line 42, ../sass/_grids.sass */
  .container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../fire.app/lib/ruby/compass_extensions/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 1440px) {
  /* line 42, ../sass/_grids.sass */
  .container {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../fire.app/lib/ruby/compass_extensions/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 52, ../sass/_grids.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 56, ../sass/_grids.sass */
.icon-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -13px;
  width: 26px;
}
/* line 62, ../sass/_grids.sass */
.icon-scroll a {
  display: block;
}
/* line 64, ../sass/_grids.sass */
.icon-scroll a object {
  pointer-events: none;
}

/* .logo
 * +breakpoint ($mobile)
 *     display: block
 *     width: 300px
 *     min-height: 145px
 *     background: url(../images/logo.png) no-repeat
 *     background-size: 100%
 *     text-indent: -99999px
 *     margin: 0 auto 1rem auto
 *     +breakpoint ($hdpi)
 *         background: url(../images/logo@2x.png) 
 *         background-size: 100%
 * +breakpoint ($tablet) 
 *     width: 692px
 *     min-height: 336px
 *     margin: 0 auto 3rem auto
 *
 *     +breakpoint ($hdpi)
 *         background: url(../images/logo@2x.png) 
 *         background-size: 100%
 *          */
/* line 90, ../sass/_grids.sass */
.logo {
  display: block;
  margin: 0 auto;
}
/* line 93, ../sass/_grids.sass */
.logo object {
  display: block;
  width: 110px;
  margin: 0 auto;
}

@media (min-width: 320px) {
  /* line 98, ../sass/_grids.sass */
  .col-litle {
    width: 98.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
  /* line 101, ../sass/_grids.sass */
  .col-litle .col-1 {
    width: 98.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
  /* line 103, ../sass/_grids.sass */
  .col-litle .col-2 {
    width: 98.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
  /* line 105, ../sass/_grids.sass */
  .col-litle article.col-2 {
    position: relative;
    width: inherit;
    padding-bottom: 4rem;
  }
}
@media (min-width: 760px) and (orientation: landscape) {
  /* line 98, ../sass/_grids.sass */
  .col-litle {
    width: 81.6666666667%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
    margin-left: 9.1666666667%;
  }
}

@media (min-width: 1280px) {
  /* line 114, ../sass/_grids.sass */
  .col-litle .col-2, .col-litle article.col-2 {
    width: 48.3333333333%;
    float: right;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
}
@media screen and (min-width: 1280px), handheld and (orientation: landscape) {
  /* line 98, ../sass/_grids.sass */
  .col-litle {
    width: 98.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
  /* line 118, ../sass/_grids.sass */
  .col-litle .col-1 {
    width: 48.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
}
@media (min-width: 1640px) {
  /* line 98, ../sass/_grids.sass */
  .col-litle {
    width: 81.6666666667%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
    margin-left: 9.1666666667%;
    margin-left: 9.1666666667%;
  }
}

@media (min-width: 320px) {
  /* line 128, ../sass/_grids.sass */
  .service {
    width: 98.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
    margin-bottom: 3rem;
    position: relative;
  }
  /* line 133, ../sass/_grids.sass */
  .service p {
    margin: 0 1rem 1rem;
  }
}
@media (min-width: 940px) {
  /* line 128, ../sass/_grids.sass */
  .service {
    width: 48.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
}
@media (min-width: 1440px) {
  /* line 128, ../sass/_grids.sass */
  .service {
    width: 31.6666666667%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
}
@media (min-width: 1640px) {
  /* line 128, ../sass/_grids.sass */
  .service {
    width: 23.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
}

/* line 142, ../sass/_grids.sass */
hr {
  margin-top: -2rem;
}

/* line 145, ../sass/_grids.sass */
label, input, textarea {
  width: 100%;
  margin: 0 0 1rem 0;
  border: none;
}

/* line 150, ../sass/_grids.sass */
#captcha {
  width: 304px;
}
@media (min-width: 320px) {
  /* line 150, ../sass/_grids.sass */
  #captcha {
    margin: 0 auto 1rem auto;
    float: none;
  }
}
@media (min-width: 940px) {
  /* line 150, ../sass/_grids.sass */
  #captcha {
    margin: 0 0 1rem 0;
    float: left;
  }
}

/* line 159, ../sass/_grids.sass */
label {
  display: block;
  margin: 0;
}

/* line 163, ../sass/_grids.sass */
textarea {
  resize: none;
  height: 11.4rem;
}

/* line 167, ../sass/_grids.sass */
input {
  height: 2.5rem;
}

/* line 170, ../sass/_grids.sass */
input[type=submit] {
  display: block;
  height: 75px;
}
@media (min-width: 320px) {
  /* line 170, ../sass/_grids.sass */
  input[type=submit] {
    width: 100%;
    float: none;
  }
}
@media (min-width: 940px) {
  /* line 170, ../sass/_grids.sass */
  input[type=submit] {
    width: 47%;
    float: right;
  }
}
@media screen and (min-width: 1280px), handheld and (orientation: landscape) {
  /* line 170, ../sass/_grids.sass */
  input[type=submit] {
    width: 35%;
  }
}
@media (min-width: 1440px) {
  /* line 170, ../sass/_grids.sass */
  input[type=submit] {
    width: 30%;
  }
}

/* line 185, ../sass/_grids.sass */
footer {
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 320px) {
  /* line 187, ../sass/_grids.sass */
  footer .spanfoot {
    width: 98.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
    text-align: center;
  }
}
@media (min-width: 320px) and (orientation: landscape) {
  /* line 187, ../sass/_grids.sass */
  footer .spanfoot {
    width: 48.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
}

@media (min-width: 760px) {
  /* line 187, ../sass/_grids.sass */
  footer .spanfoot {
    width: 48.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
}
@media (min-width: 760px) and (orientation: landscape) {
  /* line 187, ../sass/_grids.sass */
  footer .spanfoot {
    width: 23.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
    text-align: left;
  }
}

/* line 198, ../sass/_grids.sass */
footer .container {
  padding: 2rem 0 0 0;
}

/* line 11, ../sass/_base.sass */
body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 15, ../sass/_base.sass */
nav {
  position: relative;
  height: 51px;
  z-index: 200;
}

/* line 20, ../sass/_base.sass */
.toggle-switch {
  display: block;
  position: fixed;
  right: 0;
  z-index: 9999;
  margin: 0;
  padding: 0;
  width: 58px;
  height: 51px;
  font-size: 0;
  text-indent: -9999px;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 320px) {
  /* line 20, ../sass/_base.sass */
  .toggle-switch {
    top: 0;
  }
}
@media (min-width: 760px) {
  /* line 20, ../sass/_base.sass */
  .toggle-switch {
    top: 50px;
  }
}
/* line 41, ../sass/_base.sass */
.toggle-switch:focus {
  outline: none;
}
/* line 43, ../sass/_base.sass */
.toggle-switch span {
  display: block;
  position: absolute;
  top: 23px;
  left: 12px;
  right: 12px;
  height: 4px;
  background: white;
}
/* line 51, ../sass/_base.sass */
.toggle-switch span::before, .toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}
/* line 59, ../sass/_base.sass */
.toggle-switch span::before {
  top: -12px;
}
/* line 61, ../sass/_base.sass */
.toggle-switch span::after {
  bottom: -12px;
}

/* line 65, ../sass/_base.sass */
.toggle-to-x {
  background-color: #1c76a6;
}
/* line 67, ../sass/_base.sass */
.toggle-to-x span {
  -moz-transition: background 0.3s 0;
  -o-transition: background 0.3s 0;
  -webkit-transition: background 0.3s 0;
  transition: background 0.3s 0;
}
/* line 69, ../sass/_base.sass */
.toggle-to-x span::before, .toggle-to-x span::after {
  -moz-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -moz-transition-delay: 0.3s, 0;
  -o-transition-delay: 0.3s, 0;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
/* line 72, ../sass/_base.sass */
.toggle-to-x span::before {
  -moz-transition-property: top, -moz-transform;
  -o-transition-property: top, -o-transform;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
/* line 74, ../sass/_base.sass */
.toggle-to-x span::after {
  -moz-transition-property: bottom, -moz-transform;
  -o-transition-property: bottom, -o-transform;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* line 77, ../sass/_base.sass */
.toggle-to-x.active span {
  background: none;
}
/* line 79, ../sass/_base.sass */
.toggle-to-x.active span::before {
  top: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition-delay: 0, 0.3s;
  -o-transition-delay: 0, 0.3s;
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
/* line 83, ../sass/_base.sass */
.toggle-to-x.active span::after {
  bottom: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transition-delay: 0, 0.3s;
  -o-transition-delay: 0, 0.3s;
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}

/* line 88, ../sass/_base.sass */
.menu {
  background: rgba(28, 118, 166, 0.9);
  position: fixed;
  right: 0;
  display: none;
}
@media (min-width: 320px) {
  /* line 88, ../sass/_base.sass */
  .menu {
    top: 0;
    width: 100%;
    padding: 54px 0;
  }
  /* line 96, ../sass/_base.sass */
  .menu li {
    margin: 0 2rem;
  }
  /* line 98, ../sass/_base.sass */
  .menu li a {
    color: #fbfbfb;
  }
}
@media (min-width: 760px) {
  /* line 88, ../sass/_base.sass */
  .menu {
    width: 280px;
    padding: 50px;
    top: 50px;
  }
}
/* line 105, ../sass/_base.sass */
.menu li {
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 0;
}
/* line 109, ../sass/_base.sass */
.menu li a {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  border-bottom: 1px #d6f0fc dashed;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 940px) {
  /* line 109, ../sass/_base.sass */
  .menu li a {
    color: #d6f0fc;
  }
}
@media screen and (min-width: 1280px), handheld and (orientation: landscape) {
  /* line 109, ../sass/_base.sass */
  .menu li a {
    color: #fbfbfb;
  }
}
/* line 121, ../sass/_base.sass */
.menu li a:hover {
  background: #2395d2;
  color: #fbfbfb;
  border-color: #fbfbfb;
}

/* line 128, ../sass/_base.sass */
header {
  position: relative;
}

/* line 132, ../sass/_base.sass */
.whoare {
  background: #fbfbfb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #e2e2e2;
  border-width: 1px;
  border-style: solid;
  padding-top: 4rem;
}
@media (min-width: 320px) {
  /* line 132, ../sass/_base.sass */
  .whoare {
    margin-top: -8rem;
  }
}
@media (min-width: 320px) and (orientation: landscape) {
  /* line 132, ../sass/_base.sass */
  .whoare {
    margin-top: -3rem;
  }
}

@media (min-width: 760px) {
  /* line 132, ../sass/_base.sass */
  .whoare {
    margin-top: -8rem;
  }
}

/* line 146, ../sass/_base.sass */
main {
  background: #ffffff;
}

/* line 148, ../sass/_base.sass */
.second_color {
  background: #d6f0fc;
}

/* line 151, ../sass/_base.sass */
.service {
  background-color: #fbfbfb;
}
/* line 153, ../sass/_base.sass */
.service .service-title {
  background-color: #d6f0fc;
  padding: 0 10px;
}
/* line 156, ../sass/_base.sass */
.service .service-title h5 {
  margin-top: -10px;
  padding-bottom: 10px;
  color: #a04323;
}

/* line 163, ../sass/_base.sass */
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #1c76a6;
  color: #ffffff;
  font-size: 1rem;
  font-family: "Geomanist", sans-serif;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 173, ../sass/_base.sass */
input[type=submit]:hover {
  background: #2395d2;
}
/* line 175, ../sass/_base.sass */
input[type=submit]:active {
  -moz-box-shadow: 0 0 4px 0px #444444 inset;
  -webkit-box-shadow: 0 0 4px 0px #444444 inset;
  box-shadow: 0 0 4px 0px #444444 inset;
}

/* line 179, ../sass/_base.sass */
input, textarea {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 1px solid #1c76a6;
}
/* line 184, ../sass/_base.sass */
input:focus, textarea:focus {
  outline: none;
  -moz-box-shadow: 0 0 4px 0px #1c76a6 inset;
  -webkit-box-shadow: 0 0 4px 0px #1c76a6 inset;
  box-shadow: 0 0 4px 0px #1c76a6 inset;
}

/* line 189, ../sass/_base.sass */
footer {
  background: #414042;
  color: #fbfbfb;
  padding: 1rem;
}
/* line 193, ../sass/_base.sass */
footer a {
  color: #fbfbfb;
  text-decoration: none;
}
/* line 196, ../sass/_base.sass */
footer img {
  width: 126px;
}

@font-face {
  font-family: "Geomanist";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('embedded-opentype'), url('../fonts/geomanist-regular-webfont.woff?1421664706') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url('../fonts/bold');
  src: url('../fonts/bold?#iefix') format('embedded-opentype'), url('../fonts/geomanist-bold-webfont.woff?1421665838') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "icomoon";
  src: url('../fonts/normal');
  src: url('../fonts/normal?#iefix') format('embedded-opentype'), url('../fonts/icons/icomoon.eot?dnb278&1432713844') format('embedded-opentype'), url('../fonts/icons/icomoon.woff?dnb278&1432713844') format('woff'), url('../fonts/icons/icomoon.ttf?dnb278&1432713844') format('truetype'), url('../fonts/icons/icomoon.svg?dnb278&1432713844') format('svg');
  font-weight: normal;
}
/* line 106, ../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 15, ../sass/_typo.sass */
body {
  font-family: "Geomanist", sans-serif;
  font-weight: 400;
  text-rendering: optimizelegibility;
  color: #414042;
}

/* line 21, ../sass/_typo.sass */
h1, h2, h3, p, a {
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}

/* line 25, ../sass/_typo.sass */
h2, h3, h4, h5, label {
  font-family: "PT Serif", serif;
}

/* line 28, ../sass/_typo.sass */
h1, h2, h3 {
  text-align: center;
  font-weight: 700;
}

/* line 32, ../sass/_typo.sass */
h1 {
  color: #5cb5e6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  line-height: 6.4rem;
  letter-spacing: 0.4rem;
}
/* line 35, ../sass/_typo.sass */
h1 span {
  color: #f47a38;
}

/* line 42, ../sass/_typo.sass */
h2 {
  text-shadow: 0 0 8px #fbfbfb;
  font-size: 64px;
  font-size: 4rem;
  line-height: 72px;
  line-height: 4.5rem;
}
/* line 45, ../sass/_typo.sass */
h2 strong {
  color: #a04323;
}
@media (min-width: 320px) {
  /* line 42, ../sass/_typo.sass */
  h2 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 48px;
    line-height: 3rem;
  }
}
@media (min-width: 760px) {
  /* line 42, ../sass/_typo.sass */
  h2 {
    font-size: 64px;
    font-size: 4rem;
    line-height: 72px;
    line-height: 4.5rem;
  }
}

/* line 52, ../sass/_typo.sass */
h3 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 72px;
  line-height: 4.5rem;
  color: #1c76a6;
}

/* line 56, ../sass/_typo.sass */
h4 {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  font-size: 21px;
  font-size: 1.3rem;
  line-height: 48px;
  line-height: 3rem;
  display: table;
  color: #1c76a6;
  font-weight: 700;
}

/* line 63, ../sass/_typo.sass */
p strong {
  font-weight: 700;
}

/* line 65, ../sass/_typo.sass */
.icon-whoare, .icon-service, .icon-contact {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  border-bottom: 4px dotted #f47a38;
  width: 80%;
  text-align: center;
  margin-bottom: 3rem;
}
/* line 82, ../sass/_typo.sass */
.icon-whoare:after, .icon-service:after, .icon-contact:after {
  display: inline-block;
  position: relative;
  top: 1.8rem;
  padding: 0.8rem 0.8rem;
  font-size: 2rem;
}

/* line 89, ../sass/_typo.sass */
section ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1rem;
}

@media (min-width: 320px) {
  /* line 94, ../sass/_typo.sass */
  .icon-whoare {
    margin-bottom: 0.8rem;
  }
}
/* line 98, ../sass/_typo.sass */
.icon-whoare:after {
  content: "";
  background-color: #fbfbfb;
  -moz-box-shadow: 0 0 0 5px #fbfbfb;
  -webkit-box-shadow: 0 0 0 5px #fbfbfb;
  box-shadow: 0 0 0 5px #fbfbfb;
  color: #f47a38;
}

/* line 106, ../sass/_typo.sass */
.icon-service:after {
  content: "";
  background-color: #fff;
  -moz-box-shadow: 0 0 0 5px #fff;
  -webkit-box-shadow: 0 0 0 5px #fff;
  box-shadow: 0 0 0 5px #fff;
  color: #f47a38;
}

/* line 112, ../sass/_typo.sass */
.icon-contact {
  border-color: #a04323;
}
/* line 115, ../sass/_typo.sass */
.icon-contact:after {
  content: "";
  background-color: #d6f0fc;
  -moz-box-shadow: 0 0 0 5px #d6f0fc;
  -webkit-box-shadow: 0 0 0 5px #d6f0fc;
  box-shadow: 0 0 0 5px #d6f0fc;
  color: #a04323;
}

/* line 122, ../sass/_typo.sass */
.icon-assistance:before, .icon-sell:before, .icon-office:before, .icon-toner:before, .icon-smart:before, .icon-web:before, .icon-data:before, .icon-graph:before, .icon-tanslate:before, .icon-tel:before, .icon-mail:before {
  display: table-cell;
  vertical-align: middle;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
  color: #f47a38;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 320px) {
  /* line 122, ../sass/_typo.sass */
  .icon-assistance:before, .icon-sell:before, .icon-office:before, .icon-toner:before, .icon-smart:before, .icon-web:before, .icon-data:before, .icon-graph:before, .icon-tanslate:before, .icon-tel:before, .icon-mail:before {
    font-size: 1.4rem;
  }
}
@media (min-width: 940px) {
  /* line 122, ../sass/_typo.sass */
  .icon-assistance:before, .icon-sell:before, .icon-office:before, .icon-toner:before, .icon-smart:before, .icon-web:before, .icon-data:before, .icon-graph:before, .icon-tanslate:before, .icon-tel:before, .icon-mail:before {
    font-size: 2rem;
  }
}

/* line 142, ../sass/_typo.sass */
.icon-assistance:before {
  content: "";
}

/* line 146, ../sass/_typo.sass */
.icon-sell:before {
  content: "";
}

/* line 150, ../sass/_typo.sass */
.icon-office:before {
  content: "";
}

/* line 154, ../sass/_typo.sass */
.icon-toner:before {
  content: "";
}

/* line 158, ../sass/_typo.sass */
.icon-smart:before {
  content: "";
}

/* line 162, ../sass/_typo.sass */
.icon-web:before {
  content: "";
}

/* line 166, ../sass/_typo.sass */
.icon-data:before {
  content: "";
}

/* line 170, ../sass/_typo.sass */
.icon-graph:before {
  content: "";
}

/* line 174, ../sass/_typo.sass */
.icon-tanslate:before {
  content: "";
}

/* line 179, ../sass/_typo.sass */
article .icon-assistance:before, article .icon-sell:before, article .icon-office:before, article .icon-toner:before, article .icon-smart:before, article .icon-web:before, article .icon-data:before, article .icon-graph:before, article .icon-tanslate:before {
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  -webkit-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
  text-align: center;
  position: absolute;
  padding: 0 0 8px 0;
  bottom: 1rem;
  box-sizing: border-box;
  color: #1c76a6;
  border-bottom: 2px solid transparent;
}
/* line 189, ../sass/_typo.sass */
article .icon-assistance:hover::before, article .icon-sell:hover::before, article .icon-office:hover::before, article .icon-toner:hover::before, article .icon-smart:hover::before, article .icon-web:hover::before, article .icon-data:hover::before, article .icon-graph:hover::before, article .icon-tanslate:hover::before {
  color: #1c76a6;
  border-bottom-color: #1c76a6;
}

/* line 201, ../sass/_typo.sass */
article .icon-assistance:before {
  left: 2%;
}

/* line 201, ../sass/_typo.sass */
article .icon-sell:before {
  left: 13.5%;
}

/* line 201, ../sass/_typo.sass */
article .icon-office:before {
  left: 25%;
}

/* line 201, ../sass/_typo.sass */
article .icon-toner:before {
  left: 36.5%;
}

/* line 201, ../sass/_typo.sass */
article .icon-smart:before {
  left: 48%;
}

/* line 201, ../sass/_typo.sass */
article .icon-web:before {
  left: 59.5%;
}

/* line 201, ../sass/_typo.sass */
article .icon-data:before {
  left: 71%;
}

/* line 201, ../sass/_typo.sass */
article .icon-graph:before {
  left: 82.5%;
}

@media (min-width: 320px) {
  /* line 205, ../sass/_typo.sass */
  article .icon-assistance:before {
    left: 0.5rem;
  }
}
@media (min-width: 940px) {
  /* line 205, ../sass/_typo.sass */
  article .icon-assistance:before {
    left: 1rem;
  }
}

@media (min-width: 320px) {
  /* line 210, ../sass/_typo.sass */
  article .icon-data:before {
    left: 73%;
  }
}

@media (min-width: 320px) {
  /* line 217, ../sass/_typo.sass */
  article .icon-tanslate:before {
    right: 0.5rem;
  }
}
@media (min-width: 940px) {
  /* line 220, ../sass/_typo.sass */
  article .icon-tanslate:before {
    right: 1rem;
  }
}

/* line 224, ../sass/_typo.sass */
.icon-tel:before, .icon-mail:before {
  display: inline;
  font-size: 1.4rem;
  color: #fbfbfb;
}

/* line 230, ../sass/_typo.sass */
.icon-mail:before {
  content: "";
}

/* line 233, ../sass/_typo.sass */
.icon-tel:before {
  content: "";
}

/* line 236, ../sass/_typo.sass */
label {
  color: #1c76a6;
}
