html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

 
body {
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Droid Serif';
}

.tabs {
	display: table;
	height: 100%;
	width: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: rgba(255,255,255,0.3);
}

h1 {
	font-weight: 700;
	font-size: 3em;
}

p {
	font-family: sans-serif;
}